<div class="books_index_body1">
	<div class="books_index_pickup">
		<h2>Share Link</h2>
	</div>
</div>
<div class="books_index_body2">
	<div class="books_index_allbookmark">
		<div class="books_index_category">
			<h3>NEW BOOKMARK</h3>
		</div>
	</div>
</div>
