
<div class="books_index_body1">
	<div class="books_index_pickup">
		<h3>PICK UP</h3>
	</div>
</div>
<div class="books_index_body2">
	<div class="books_index_allbookmark">
		<div class="books_index_category">
			<h3>BOOKMARK</h3>
		</div>
		<div class="books_index_bookmarks">
			<div class="books_index_bookmarks_box">
				<div class="books_index_bookmarks_box1">
					<div class="books_index_bookmarks_image"></div>
					<div class="books_index_bookmarks_name">
						<p><%= @user.name %></p>
						<p></p>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>