/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a:hover{
	color: red;
	text-decoration: none;
}
/*header*/
.header{
	height: 50px;
	width: 100%;
	/*background-color: yellow;*/
}
.header_logo{
	height: 100%;
	width: 200px;
	background-color: lightgreen;
	float: left;
}
.header_search{
	height: 100%;
	width: 200px;
	background-color: blue;
	float: left;
}
.header_link{
	height: 100%;
	width: 500px;
	background-color: #fff;
	display: inline-block;
	text-align: right;
	list-style: none;
	float: right;
}
.header_link li{
	display: inline-block;
}
/*header fin*/
/*NEWACCOUNT画面*/
.user_newaccount, .user_signin{
	text-align: center;
}
/*NEWACCOUNT画面 fin*/
/*SIGN IN画面*/
/*SIGN IN画面 fin*/
