/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a:hover{
	color: red;
	text-decoration: none;
}
body{
	font-family: sans-serif;
	height:1000px;
	background-color: #F8F7E9;
	position: relative; /*slide_menuに対してのposition位置の起点にする*/
	left: 0;
	overflow-x: hidden;
}
/*スライドメニュー*/
#slide_menu{
	position: fixed;
	top: 0;
	left: -240px;
	width: 240px;
	height: 100%;
	background-color: black;
	border-right: 1px solid #999999;
	text-align: center;
}
#slide_menu li{
	margin: 30% 0;
}
#slide_menu a{
	color: #ffffff;
	font-size: 20px;
	border-bottom: 1px solid #ffffff;
}
#button{
	width: 10%;
	height: 70px;
	background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
	/*background-color: black;*/
}
#button:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}

/*スライドメニュー fin*/

/*----イイね機能色------*/
.like-btn-unlike{
	color:#ff2581;
}
.like-btn{
	color:#8899a6;
}
/*header*/
header{
	/*height: 92px;*/
	width: 100%;
	border-top: 4px solid #14B8D5;
	/*border-bottom: 1px solid #ebebeb;*/
	/*background-color: #ffffff;*/
}
#header{
	width: 1000px;
	/*margin: 0 auto;*/
}
#header-box{
	width: 820px;
	margin-left: 180px;
}
.header-name{
	
}




.header_link{
	height: 100%;
	width: 500px;
	background-color: #fff;
	display: inline-block;
	text-align: right;
	list-style: none;
	float: right;
}
.header_link li{
	display: inline-block;
	float: left;
	margin:5%;
}

/*header fin*/
/*NEWACCOUNT画面*/ /*SIGN IN画面*/
.user_newaccount, .user_signin{
	text-align: center;
}
/*NEWACCOUNT画面 fin*/ /*SIGN IN画面 fin*/
/*footer*/
footer{
	width: 100%;
	height: 150px;
	background-color: rgb(255,255,255);
	border: 1px solid #999999;
}
