// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*books_index*/
#slideshow{
	position: relative;
	width: 100%;
	height: 720px;
}
#slideshow p{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	opacity: 0.0;
	margin: 0;
	width: 100%;
	height: 720px;
}
#slideshow p.active{
	z-index: 10;
	opacity: 1.0;
}
#slideshow p.last-active{
	z-index: 9;
}
#slideshow p img{
	width: 100%;
	height: 720px;
	display: block;
	border: 0;
}
.site_title{
	width: 50%;
	height: 720px;
	float: left;
}
#slideshow h1{
	z-index: 11;
	color: #fff;
	position: absolute;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	text-decoration: underline;
	padding-top: 20%;
	color: #ffffff;
	font-size: -webkit-xxx-large;
	width: 50%;

}
.site_explanation{
	width: 50%;
	height: 720px;
	float: left;
}
#slideshow h2{
	z-index: 11;
	color: #fff;
	position: absolute;
	width: 50%;
	margin-top: 30%;
}


img.attachment.book.image{
	width: 100%;
	height: 100%;
}
.books_index_body1{
	width: 100%;
	height:720px;
	background-color: rgb(255,255,255);
	/*background-image: url(wil.jpg);*/
	background-size: cover;
	background-position: center;

}
.books_index_pickup{
	width: 70%;
	height: 100%;
	margin: 0 auto;
	/*text-align: center;*/
	text-decoration: underline;
	padding-top: 20%;
	color: #ffffff;
	font-size: -webkit-xxx-large;
}
.books_index_body2{
	width: 100%;
	height:2000px;
	background-color: #F8F7E9;
	/*border-top: 1px solid #ebebeb;*/
	background-image: url(/images/raw.jpg);
	background-size: cover;
	background-position: center;
}
.books_index_allbookmark{
	background-color: rgba(255, 255, 255, 0.1);
	width: 70%;
	height: 100%;
	float: left;
	border:1px solid #999999;
	/*margin: 0 auto;*/
	/*padding-top: 100px;*/

}


/*books_index 全てのブックマーク部分*/
.books_index_category{
	width: 100%;
	padding: 40px;
	/*background-color: rgba(255, 255, 255, 0.5);*/
	/*border-bottom: 1px solid #999999;*/
	text-decoration: underline;
	text-align: center;
	height: 5%;
}

#books_index_tab-menu li{
	float: left;
	width: 20%;
	list-style-type: none;
}
#books_index_tab-menu a {
	background-color: #000;
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 20px;
	color: #fff;

}
#books_index_tab-menu .active{
	background-color: #fff;
	color: #000;
}





/**/


.wrap{
  width: 100%;
  /*max-width: 800px;*/
  margin: 0 auto;
  height: 10%;
  text-align: center;
}
 .wrap h1{
 	text-decoration: underline;
 	padding: 40px;
 }
.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 25%;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents .tab {
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}
/**/

.books_index_under_t2{
	height: 70%;
	width: 100%;
	border:1px solid;
}


.books_index_tab_box_t2{
	width: 25%;
	height: 30%;
	border:1px solid;
	background-color: #fff;
	float: left;
}











#books_index_bookmarks2 #tab1,
#books_index_bookmarks2 #tab2,
#books_index_bookmarks2 #tab3,
#books_index_bookmarks2 #tab4,
#books_index_bookmarks2 #tab5{
	width: 100%;
	height: 100%;
	/*border:1px solid;*/
	background-color: #fff;
    /*margin: 25px;*/
    /*border: 1px solid #999999;*/
    /*text-align: left;*/
    overflow: scroll;
    /*border-radius: 5px;*/
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);*/
}
.books_index_bookmark_category_t2{
	width: 100%;
	height: 10%;
	/*border:1px solid;*/
	text-align: left;
	color: #068b71;
}



.books_index_bookmark_article_t2{
	width: 100%;
	height: 40%;
	border-bottom: 1px solid #999999;
}
.books_index_bookmark_article_t2 h3{
	text-align: left;
	color: #068b71;
}
.books_index_bookmark_article_t2 h2{
	/*border-bottom: 1px solid #999999;*/
    padding: 30px 10px;
    height: 90%;
}
.books_index_bookmark_url_t2{
	width: 100%;
	height: 30%;
	/*border:1px solid;*/
	padding: 15px;
    word-break: break-word;
    border-bottom: 1px solid #999999;
}
.books_index_bookmark_date_favorite_t2{
	width: 100%;
	height: 10%;
}
.books_index_bookmark_date_t2{
	width: 50%;
	height: 100%;
	float: left;
	border-bottom: 1px solid #999999;
    /* font-size: 35px; */
    padding-top: 15px;
    text-align: center;
    background-color: #E6E6E6;
    border-right: 1px solid #999999;
}
.books_index_bookmark_favorite_t2{
	width: 50%;
	height: 100%;
	float: left;
	border-bottom: 1px solid #999999;
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
    background-color: #E6E6E6;
}
.books_index_bookmark_name_icon_t2{
	width: 100%;
	height: 10%;
	background-color: #E6E6E6;
}
.books_index_bookmark_name_t2{
	width: 80%;
	height: 100%;
	float: left;
	padding: 5px;
	text-align: left;
}
.books_index_bookmark_icon_t2{
	width: 20%;
	height: 100%;
	float: left;
}
.books_index_bookmark_icon_t2 img.attachment.user.image{
	width: 90%;
	height: 100%;
}












.books_index_bookmarks{
	width: 100%;
	height: 25%;
	border-bottom: 1px solid #999999;
	text-align: center;
	/*overflow: scroll;*/
	/*background-color: #fff;*/
}
#books_index_bookmarks2{
	width: 100%;
	height: 88%;
	border-bottom: 1px solid #999999;
	text-align: center;
	/*overflow: scroll;*/
	/*background-color: #fff;*/

}
.books_index_box{
	width: 25%;
	height: 90%;
	background-color: #fff;
	display: inline-block;
	margin: 25px;
	border:1px solid #999999;
	text-align: left;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.books_index_box h3{
	color: #068b71;
}
.books_index_box2{
	width: 20%;
	height: 30%;
	background-color: #fff;
	display: inline-block;
	margin: 35px;
	border:1px solid #999999;
	text-align: left;
	overflow: hidden;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.books_index_box2 h3{
	color: #068b71;
}
.books_index_box_image{
	width: 100%;
	height: 50%;
	border-bottom:1px solid #999999;
	padding: 30px 10px;
}
.books_index_box_image:hover{
	/*opacity: 0.5;*/
	color: red
}
.books_index_box_image img.attachment.book.image{
	width: 100%;
	height: 100%;
}
.books_index_box_category_article{
	width: 100%;
	height: 26%;
	/*border: 1px solid #999999;*/
}
.books_index_box_category{
	width: 100%;
	height: 20%;
	font-size: 20px;
	/*border:1px solid #999999;*/
	/*height: 5%;*/
}
.books_index_box_article{
	width: 100%;
	height: 80%;
	padding: 15px;
	word-break: break-word;
	border-bottom:1px solid #999999;
}
.books_index_box_date_favorite{
	width: 100%;
	height: 10%;
	/*border: 1px solid #999999;*/
}
.books_index_box_date{
	width: 50%;
	height: 100%;
	border-bottom:1px solid #999999;
	float: left;
	/*font-size: 35px;*/
	padding-top: 15px;
	text-align: center;
	background-color: #E6E6E6;
	border-right: 1px solid #999999;
}
.books_index_box_favorite{
	width: 50%;
	height: 100%;
	border-bottom:1px solid #999999;
	float: left;
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
	background-color: #E6E6E6;
}


.books_index_box_name_icon{
	width: 100%;
	height: 10%;
	/*border: 1px solid #999999;*/
	background-color: #E6E6E6;
}
.books_index_box_name{
	width: 80%;
	height:100%;
	/*border:1px solid #999999;*/
	float: left;
	padding: 5px;
}
.books_index_box_icon{
	width: 20%;
	height: 100%;
	/*border:1px solid #999999;*/
	float: left;
}
.books_index_box_icon img.attachment.user.image{
	width: 100%;
	height: 100%;
}

.books_index_right{
	width: 30%;
	height: 100%;
	float: left;
	background-color: rgba(255, 255, 255, 0.1);
}
.books_index_ranking_title{
	width: 100%;
	/*height: 5%;*/
	/*border:1px solid #999999;*/
	/*padding: 30px;*/
	text-align: center;
}
.books_index_ranking_title h1{
	text-decoration: underline;
	margin: 0 auto;
	width: auto;
	padding: 40px;
}
.books_index_ranking_all{
	height: 95%;
	width: 100%;
	border:1px solid;
}
.books_index_ranking_box{
	width: 100%;
	height: 10%;
	border:1px solid;
	background-color: #ffffff;
}
.books_index_rank_count{
	width: 100%;
	height: 25%;
	/*border:1px solid;*/
}
.books_index_rankcount{
	width: 11%;
	height: 100%;
	/*border:1px solid;*/
	background-color: rgb(248 ,0 ,93);
	color: #fff;
	text-align: center;
	padding-top: 10px
}
.books_index_ranking_detail{
	width: 100%;
	height: 75%;
	/*border:1px solid;*/
}
.books_index_date{
	width: 100%;
	height: 25%;
	/*border:1px solid;*/
}
.books_index_article{
	width: 100%;
	height: 50%;
	/*border:1px solid;*/
}
.books_index_category_favorite{
	width: 100%;
	height: 25%;
	/*border:1px solid;*/
}
.books_index_ranking_category{
	width: 50%;
	height: 100%;
	float: left;
	color: #068b71;
	padding-left: 20px;
}
.books_index_favorite_count{
	width: 50%;
	height: 100%;
	float: left;
	color: red;
}















/*books_new*/

.books_new_body{
	background-color: rgb(237,241,243);
	width: 80%;
	height: 100%;
	margin: 0px auto;
	border: 1px solid #999999;
	padding-top: 70px;
}
.books_new_top{
	width: 100%;
	height: 15%;
	background-color: rgb(255,255,255);
	padding: 5%;
}
.books_new_top_url{
	background-color: rgb(255,255,255);
	width: 70%;
	height: 40%;
	margin: 5% auto;
	text-align: center;
}
.books_new_top_url select#book_category {
	font-size: 20px;
	border:1px solid #999999;
}
.books_new_categoryForm{
	width: 100%;
	text-align: left;
}

.books_new_top_url input#book_article,
.books_new_top_url input#book_url,
.books_new_top_url textarea#book_comment{
	width: 95%;
	height: 60px;
	border: 1px solid #999999;
	margin: 15px 20px;
	font-size: 20px;
	border-radius: 3px;
	padding-left: 10px;
}
input.books_new_top_url_submit{
	font-size: 15px;
	border: 1px solid #999999;
	background-color: #00a4de;
	color: #fff;
	width: 15%;
	height: 30px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 7px #333;
}
input.books_new_top_url_submit:hover{

}
input.books_new_top_url_submit:active{
	position: relative;
	top: 6px;
	box-shadow: none;
}




/*------------book_show画面---------------*/

/*------------book_edit画面---------------*/
.book_show_center,
.book_edit_center{
	/*width: 80%;*/
	height: 100%;
	border: 1px solid #999999;
	margin: 0 auto;
	background-color: #ffffff;
	background-image: url(/images/raw.jpg);
	background-size: cover;
	background-position: center;
}
.book_show_box1,
.book_edit_box1{
	width: 90%;
	height: 10%;
	border-bottom: 1px solid #999999;
	margin: 0 auto;
	position: relative;
}
.book_show_box1 h1,
.book_edit_box1 h1{
	position: absolute;
	bottom: 0;
}
.book_show_box2,
.book_edit_box2{
	width: 90%;
	height: 10%;
	margin: 0 auto;
	color: gray;
	padding-left: 20px;
}
.book_show_all,
.book_edit_all{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.book_show_leftright_box{
	width: 80%;
	height: 40%;
	margin:0 auto;
}
.book_show_box_left,
.book_edit_box_left{
	width: 30%;
	/*height: 70%;*/
	float: left;
	border: 1px solid #999999;
	margin: 13px;
	background-color: #fff;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.book_show_box_right,
.book_edit_box_right{
	width: 60%;
	height: 90%;
	float: right;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.book_show_box3{
	width: 75%;
	border-bottom: 1px solid #999999;
	margin: 50px auto;
	padding-left: 15px;
	position: relative;
	text-align: right;
}
.book_edit_box3{
	width: 75%;
	height: 10%;
	border-bottom: 1px solid #999999;
	margin: 30px auto;
	padding-left: 15px;
	position: relative;
	text-align: right;
}
.book_show_box3 h3,
.book_edit_box3 h3{
	position: absolute;
	bottom: 0;
}
.book_show_box3 h4{
	position: absolute;
	bottom: 0;
	text-align: right;
}
.book_edit_box3 input#book_url{
	font-size: 20px;
	border: 1px solid #999999;
}
.book_show_box4{
	width: 75%;
	margin: 0 auto;
	text-align: center;
}
.book_show_comments{
	background-color: #ffffff;
	margin: 0 auto;
	width: 80%;
	height: 20%;
}









.book_show_center_t2{
	width: 100%;
	height: 100%;
	border:1px solid;
}
.book_show_box0_t2{
	width: 70%;
	height: 100%;
	border:1px solid;
	margin: 0 auto;
	background-color: #fff;
}

.book_show_box1_t2{
	width: 100%;
	height: 10%;
	border-bottom: 1px solid #999999;
	margin: 0 auto;
	position: relative;
}
.book_show_box1_t2 h1{
	position: absolute;
	bottom: 0;
}
.book_show_box2_t2{
	width: 100%;
	height: 5%;
	margin: 0 auto;
	color: gray;
	padding-left: 20px;
}

.book_show_box3_t2{
	width: 100%;
	height: 35%;
	border-bottom: 1px solid #999999;

}
.book_show_bookmark_detail_t2{
	width: 100%;
	height: 65%;
	/*border:1px solid;*/
}
.book_show_article_t2{
	width: 100%;
	height: 40%;
	padding: 40px;
}
.book_show_article_t2 input#book_article{
	font-size: 30px;
	border:2px solid #333;
	width: 100%;
	color: #999999;
}
.book_show_favorite_category_t2{
	width: 94%;
	height: 20%;
	margin: 0 auto;
}
.book_show_favorite_t2{
	width: 20%;
	height: 100%;
	margin: 0 auto;
	color: #f94e5b;
	float: left;
}
.book_show_category_t2{
	width: 30%;
	height: 100%;
	float: left;
	color: #068b71;
}
.book_show_category_t2 select#book_category{
	font-size: 16px;
	border:2px solid #333;
	color: #999999;
}
.book_show_url_t2{
	width: 100%;
	height: 20%;
	padding: 5px 25px;
	text-decoration: underline;
	font-size: 20px;
}
.book_show_icon_t2{
	width: 100%;
	height: 20%;
	text-align: right;
	padding-right:25px;
}
.book_show_bookmark_comment_t2{
	width: 100%;
	height: 35%;
	margin: 0 auto;
	/*padding:5px 25px;*/
	border:1px solid;
	background-color: #ebf2fa;
}
.book_show_user_image_name_t2{
	width: 25%;
	height: 100%;
	/*border: 1px solid;*/
	float: left;
}
.book_show_user_image_t2{
	width: 40%;
	height: 100%;
	/*border:1px solid;*/
	float: left;
}
.book_show_user_image_t2 img.attachment.user.image{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.book_show_user_name_date_t2{
	width: 60%;
	height: 100%;
	/*border:1px solid;*/
	float: left;
}
.book_show_user_name_t2{
	width: 100%;
	height: 50%;
}
.book_show_user_name_t2 p{
	padding: 20px;
}
.book_show_user_date_t2{
	width: 100%;
	height: 50%;
}
.book_show_user_date_t2 p{
	padding:20px;
}
.book_show_user_comment_t2{
	width: 75%;
	height: 100%;
	float: left;
	padding-top: 20px;
}
.book_show_user_comment_t2 textarea#book_comment{
	width: 75%;
	height: 80px;
	font-size: 15px;
}
.book_show_box4_t2{
	width: 100%;
	height: 50%;
	border:1px solid;
}
.book_show_comment_detail_t2{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	/*border: 1px solid;*/
}
.book_show_comment_detail_t2 li{
	float: left;
	list-style-type: none;
	width: 20%;
}
#book_show_tab-menu a{
	display: block;
	text-align: center;
	background-color: #000;
	padding: 20px;
	height: 100%;
	border:1px solid #000;
	color: #fff;
	border-bottom: none;
}
#book_show_tab-menu .active{
	background:#fff;
	color: #000;
}
#book_show_tab_contents{
	height: 70%;
	/*border:1px solid;*/
}
#book_show_tab_contents .tab{
	/*border:1px solid #000;*/
	border-top: none;
	background-color: #fff;
	/*padding: 30px;*/
	height: 30%;
}
#book_show_tab_contents p{
	line-height: 2.5;
	color: #000;
}

.book_show_comment_image_t2{
	width: 5%;
	height: 100%;
	/*border: 1px solid;*/
	float: left;
}
.book_show_comment_image_t2 img.attachment.user.image{
	width: 100%;
	object-fit: cover;
}
.book_show_comment_t2{
	width: 95%;
	height: 100%;
	float: left;
}
.book_show_comment_name_t2{
	width: 100%;
	height: 25%;
	/*border:1px solid;*/
}
.book_show_comment_name_t2 p{
	font-size: 13px;
}
.book_show_comment_box_t2{
	width: 100%;
	height: 75%;
	/*border:1px solid;*/
}
.book_show_comment_detail_box_t2{
	width: 100%;
	height: 70%;
	/*border:1px solid;*/
}
.book_show_comment_date_icon_t2{
	width: 100%;
	/*border:1px solid;*/
	height: 30%;
}
.book_show_comment_date_t2{
	height: 100%;
	width: 70%;
	float: left;
}
.book_show_comment_date_t2 p{
	font-size: 10px;
}
.book_show_comment_icon_t2{
	height: 100%;
	width: 30%;
	float: left;
	text-align: right;
	padding-right: 10px;
}
.book_show_comment_text_t2{
	width: 100%;
	height: 19%;
	/*border:1px solid;*/
}
.book_show_text_t2{
	height: 100%;
	width: 80%;
	/*border:1px solid;*/
	float: left;
}
.book_show_text_t2 textarea#book_comment_comment{
	height: 80px;
	width: 100%;
}
.book_show_submit_t2{
	height: 100%;
	width: 20%;
	/*border:1px solid;*/
	float: left;
	padding: 30px;
}
.book_show_submit_t2 input[type="submit"]{
	/*height: 80px;*/
	/*width: 100%;*/
}








.book_edit_url_t2{
	/*width: 100%;*/
	height: 20%;
	padding: 5px 25px;
	text-decoration: underline;
	margin: 40px;
}
.book_edit_url_t2 input#book_url{
	font-size: 20px;
	border:2px solid #333;
	width: 100%;
	color: #999999;
}
.book_edit_bookmark_comment_t2{
	width: 100%;
	height: 35%;
	margin: 0px auto;
	/*padding:5px 25px;*/
	border:1px solid;
	background-color: #ebf2fa;
}
.book_edit_box4_t2{
	width: 100%;
	height: 10%;
	/*border:1px solid;*/
	text-align: center;
}
.book_edit_box4_t2 input[type="submit"]{
	border:2px solid #333;
	font-size: 20px;
	margin-top: 20px;
}




